html{
  height: 100%;
  overflow-x: hidden;
}

body{
  min-height: 100%;
  height: auto;
  min-width: 100vw;
  background-color: #000;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden !important;;
  max-width: 100vw;
}

a:hover, a:focus{
  text-decoration: none;
}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #FFFFFF;
}

.icon{
  fill: #ADA0A6;
  font-size: 1.2rem;
  margin: 20px 30px 20px 0px;
}

.icon-viber, .icon-telegram{
  margin: 0 10px;
}

.inline-block{
  display: inline-block !important;
}

a .icon-viber, a .viber, a .icon-telegram, a .telegram, a .icon-instagram, a .icon-facebook, a .icon-vimeo{
  transition: 0.4s;
}

a:hover .icon-viber, a:hover .viber{
  fill: #8074d6;
  color: #8074d6;
  transition: 0.4s;
}

a:hover .icon-telegram,  a:hover .telegram{
  fill: #0088cc;
  color: #0088cc;
  transition: 0.4s;
}

a:hover .icon-instagram{
  fill: #C13584;
  transition: 0.4s;
}

a:hover .icon-facebook{
  fill: #4267b2;
  transition: 0.4s;
}

a:hover .icon-vimeo{
  fill: rgb(26, 46, 59);
  transition: 0.4s;
}

.btn-custom{
  width: 10rem; /* or 160px */
  background: #2F80ED;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 10px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: normal;
  font-size: 0.875em; /* 14px */
  color: #FEFEFE;
  padding: 12px 0px;
  margin: 25px 0;
}

.btn-custom:hover, .btn-custom:active, .btn-custom:active{
  background: #5B9DF4;
  color: #FEFEFE;
  transition: 0.4s;
}